body {
    font-family: Arial;
  }
  
  #name {
    background-color: gold;
    color: blue;
  }
  
  #likes {
    background-color: blue;
    color: gold;
  }
  
  .buttons {
    align-items: vertical;
  }